* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #373737;

  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
}

.headerContainer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  margin-top: 10px;
}

h3 {
  color: #ffb002;
}

.bemVindo {
}

.gasto {
}

.mainContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
}

.addProduct {
  display: flex;
  gap: 4px;
}
.product0 {
  background-color: #ffb002;
  width: 5vw;
  height: 4vh;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.product1 {
  background-color: #ffb002;
  width: 32vw;
  height: 4vh;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.product2 {
  background-color: #ffb002;
  width: 12vw;
  height: 4vh;
  border-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.product3 {
  background-color: #ffb002;
  width: 12vw;
  height: 4vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  border-radius: 6px;
}

.btnAdd {
  padding-top: 3px;
}

.boxProduct {
  padding: 10px;
  background-color: white;
  gap: 10px;
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 55vh;
  border-radius: 9px;
}

.footerContainer {
  width: 100vw;
  height: 10vh;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
